@font-face{
  font-family:"Druk Cyr";
  font-weight: 500;
  src:url(../fonts/DrukCyr-Medium.woff2) format("woff2")
}

@font-face{
  font-family:"Druk Cyr";
  font-weight: 700;
  src:url(../fonts/DrukCyr-Bold.woff2) format("woff2")
}

@font-face{
  font-family:"Druk Cyr";
  font-weight: 1000;
  src:url(../fonts/DrukCyr-Super.woff2) format("woff2")
}

@font-face{
  font-family:"Druk Cyr";
  font-weight: 1000;
  font-style: italic;
  src:url(../fonts/DrukCyr-SuperItalic.woff2) format("woff2")
}

.vanila {
  opacity: 1!important;
  position: relative;
  color: #FDFDED;
  min-height: 100vh;
  height: auto;

  .container {
    overflow: hidden;
  }

  &::after {
    display: none;
  }

  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .stories {
    flex-direction: column;
    left: 28px;
    top: calc(50% + 10px);
    bottom: auto;
    transform: translateY(-50%);

    &-title {
      font-family: "Druk Cyr";
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
      text-align: center;
      text-transform: uppercase;
      color: #FDFDED;
      transform: rotate(-90deg) translateX(116px);
      margin-bottom: 56px;
      position: absolute;
      letter-spacing: .4px;
    }

    &-item {
      width: 72px;
      height: 72px;
      border: 2px solid #FDFDED17;
      padding: 0;
      background: transparent;

      img {
        width: 60px;
        height: 60px;
      }
    }

    &::after {
      content: "";
      width: 2px;
      height: 824px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: calc(100% + 26px);
      top: 50%;
      transform: translateY(-50%);
      opacity: .3;
    }
  }

  &__wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 32px;
    max-width: 773px;
    width: 100%;
  }

  &__desc {
    font-family: "Druk Cyr";
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    max-width: 883px;
    position: relative;
    margin-bottom: 64px;
    letter-spacing: 2px;
    
    &::before {
      content: "";
      height: 2px;
      width: 1213px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      top: -24px;
      right: 30px;
      opacity: .3;
    }

    &::after {
      content: "";
      height: 2px;
      width: 1213px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      bottom: -24px;
      left: 30px;
      opacity: .3;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    &-open {
      font-family: "Druk Cyr";
      font-weight: 700;
      font-size: 42px;
      line-height: 110%;
      text-transform: uppercase;
      letter-spacing: 1.5px;

      span {
        opacity: .68;
      }
    }
  }

  &-timer {
    display: flex;
    gap: 70px;
    margin-bottom: 36px;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    &__text {
      font-weight: 500;
      font-size: 18px;
      line-height: 16px;
      text-transform: uppercase;
    }

    &__number {
      font-family: "Druk Cyr";
      font-weight: 900;
      font-size: 112px;
      line-height: 100%;
      text-transform: uppercase;
      background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.749512) 86.8%, rgba(255, 255, 255, 0) 121.98%);
      color: transparent;
      background-clip: text;
    }
  }

  &__btns {
    width: 100%;
    max-width: 760px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gift {
    position: absolute;
    bottom: 48px;
    right: 48px;
    overflow: visible;

    &-img {
      position: absolute;
      width: 120px;
      height: 120px;
      left: -53px;
      top: calc(50% + 6px);
      transform: translateY(-50%);
    }

    .body-14mp {
      margin-left: auto;
    }
  }

  @media screen and (max-height: 1000px) and (min-width: 992px) {
    &__title {
      max-height: 200px;
    }

    &__desc {
      font-size: 36px;
      max-width: 620px;
      margin-bottom: 52px;
    }


    &__date {
      &-open {
        font-size: 32px;
      }
    }

    &__btns {
      max-width: 630px;
      gap: 22px;
    }

    .vanila-btn,
    .vanila-btn2 {
      height: 60px;
      font-size: 26px;
    }

    &-timer {
      &__number {
        font-size: 86px;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    .gift {
      display: none;
    }
  }

  @media screen and (max-width: 1200px) {
    padding-top: 88px;
    padding-bottom: 24px;

    .stories {
      flex-direction: row;
      justify-content: center;
      position: static;
      transform: none;
      margin-top: 32px;

      &-title {
        display: none;
      }

      &-item {
      }

      &::after {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;

    &__desc {
      font-size: 22px;
      max-width: 360px;
      letter-spacing: 1px;
      margin-bottom: 56px;
      opacity: .82;

      &::before {
        width: 100vw;
        right: 50%;
        transform: translateX(50%);
      }

      &::after {
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__date {

      &-open {
        font-size: 22px;
        line-height: 110%;
        letter-spacing: 1px;
      }
    }

    &-timer {
      gap: 38px;
      margin-bottom: 32px;
      
      &__text {
        font-size: 10px;
        line-height: 16px;
      }

      &__number {
        font-size: 52px;
      }
    }

    &__btns {
      flex-direction: column;
      width: 100%;
      max-width: 240px;
      gap: 12px;
    }

    .stories {
      transform: translateX(48px);
    }
  }
}

.vanila-btn {
  height: 74px;
  width: 100%;
  max-width: 368px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDFDED;
  color: #161616;
  font-family: "Druk Cyr";
  font-weight: 500;
  font-size: 32px;
  line-height: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.12s ease-out;
  overflow: hidden;
  position: relative;

  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #E12F27;
    transform: translateY(100%);
    transition: all 0.12s ease-out;
  }

  &:hover {
    color: #FDFDED;

    &::after {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 768px) {
    height: 54px;
    max-width: 240px;
    font-size: 20px;
  }
}

.vanila-btn2 {
  height: 74px;
  width: 100%;
  max-width: 368px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF1F;
  backdrop-filter: blur(4px);
  color: #FDFDED;
  border: 2px solid #FDFDED;
  font-family: "Druk Cyr";
  font-weight: 500;
  font-size: 32px;
  line-height: 18px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.12s ease-out;
  overflow: hidden;
  position: relative;

  span {
    position: relative;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FDFDED;
    transform: translateY(100%);
    transition: all 0.12s ease-out;
  }

  &:hover {
    color: #161616;

    &::after {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 768px) {
    height: 54px;
    max-width: 240px;
    font-size: 20px;
  }
}

.roadmap {
  color: #FDFDED;
  padding-top: 142px;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;

  &__title {
    font-family: "Druk Cyr";
    text-align: center;
    font-weight: 500;
    font-size: 112px;
    line-height: 100%;
    margin-bottom: 214px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    z-index: 1;
  }

  &-bg {
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    top: 0;
    height: 166vh;
    object-fit: cover;
  }

  &-btn {
    height: 66px;
    min-width: 278px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border: 2px solid var(--White, #FDFDED);
    background: #FFFFFF14;
    backdrop-filter: blur(4px);
    font-family: "Druk Cyr";
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FDFDED;
    cursor: pointer;
    transition: all .4s ease;

    &:hover {
      background-color: #FDFDED;
      color: #161616;

      path {
        fill: #161616;
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    max-width: 1724px;
    margin-left: auto;
    margin-right: auto;
    gap: 60px;
    position: relative;

    &::before {
      content: "";
      width: calc(100vw - 200px);
      height: 2px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: -15vw;
      top: 0;
      opacity: .3;
    }

    &::after {
      content: "";
      width: calc(100vw - 20px);
      height: 2px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: -15vw;
      bottom: 0;
      opacity: .3;
    }
  }

  .desktop-pagination {
    left: -88px;
    top: 50%;
    transform: rotate(90deg) translateY(-50%) translateX(-16px);
    position: absolute;

    .swiper-pagination {
      z-index: 10;
      position: static;
      transform: none!important;
      
      &-bullet {
        width: 18px;
        height: 18px;
        min-height: 18px;
        min-width: 18px;
        transform: scale(0.6666666);
        opacity: 0.1;
        background-color: #FDFDED!important;
        margin: 0 6px!important;
        transition: all .4s ease;
        // display: block!important;

        &-active {
          transform: scale(1);
          opacity: 1;  

          &-next {
            transform: scale(0.88888888);
            opacity: .2;

            &-next {
              transform: scale(0.6666666);
              opacity: 0.1;

              & ~ .swiper-pagination-bullet + .swiper-pagination-bullet {
                opacity: 0;
              }
            }
          }

          &-prev {
            transform: scale(0.88888888);
            opacity: .2;

            &-prev {
              transform: scale(0.6666666);
              opacity: 0.1;


            }
          }
        }
      }
    }
  }

  &__images {
    width: 100%;
    height: 31vw;
    max-height: 550px;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
    display: flex;
    align-items: center;
    gap: 55px;

    &::before {
      content: "";
      width: 2px;
      height: 823px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: 36px;
      top: 50%;
      transform: translateY(-50%);
      opacity: .3;
    }
  }

  &__swiper-mask {
    mask-image: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.8) 19.14%, #D9D9D9 49.06%, rgba(203, 203, 203, 0.8) 81.39%, rgba(115, 115, 115, 0) 100%);
    height: 875px;
    display: flex;
    width: 46%;
    align-items: center;
    position: relative;

    .swiper-pagination {
      pointer-events: none;
      opacity: 0;
      position: static;
      display: block!important;
      left: 0;
      transform: none!important;
      right: auto!important;

      @media screen and (min-width: 991px) {
        width: auto!important;
        min-width: 18px;
        height: 18px;
      }

      &-bullet {
        width: 18px;
        height: 18px;
        min-height: 18px;
        min-width: 18px;
        transform: scale(0.6666666);
        opacity: 0.1;
        background-color: #FDFDED!important;
        margin: 12px 0!important;
        transition: all .4s ease;
        display: block!important;

        &-active {
          transform: scale(1);
          opacity: 1;  

          &-next {
            transform: scale(0.88888888);
            opacity: .2;

            &-next {
              transform: scale(0.6666666);
              opacity: 0.1;

              & ~ .swiper-pagination-bullet + .swiper-pagination-bullet {
                opacity: 0;
              }
            }
          }

          &-prev {
            transform: scale(0.88888888);
            opacity: .2;

            &-prev {
              transform: scale(0.6666666);
              opacity: 0.1;


            }
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid var(--White, #FDFDED);
    border-radius: 12px;
    overflow: hidden;
    transition: all .4s ease;

    &:not(.swiper-slide-active) {
      transform: scale(0.86);
    }
  }

  &__content {
    width: 40%;
    max-width: 682px;
    overflow: visible;
    margin-left: 0;
    margin-right: 0;
  }

  &-slide {
    position: relative;

    &__number {
      font-family: "Druk Cyr";
      font-weight: 500;
      font-size: 92px;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: var(--Grey, #949494);
      position: absolute;
      left: calc(100% + 14px);
      top: -36px;
    }

    &__title {
      font-family: "Druk Cyr";
      font-weight: 1000;
      font-style: italic;
      font-size: 62px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 36px;

      span {
        color: #E12F27;
      }
    }

    &__desc {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #949494;
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Druk Cyr";
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-bottom: 36px;

      &-before {
        position: relative;
        color: rgba(253, 253, 237, 0.2);

        &::before {
          content: "";
          width: 100%;
          height: 6px;
          position: absolute;
          background-color: #E12F27;
          left: 0;
          top: 50%;
          transform: translateY(-50%) rotate(-5deg);
        }

        &::after {
          content: "";
          width: 3px;
          height: 24px;
          background-color: #FDFDED;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: calc(100% + 12px);
        }
      }
    }

    &__end {
      padding-top: 40px;
      position: relative;
      margin-top: 36px;

      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, #FFFFFF 100%);
        position: absolute;
        left: 0;
        top: 0;
        opacity: .3;
      }
    }

    &__subtitle {
      font-family: "Druk Cyr";
      font-weight: 500;
      font-size: 32px;
      line-height: 42px;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      margin-bottom: 12px;
    }

    &__btns {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 16px;
      width: 100%;
      margin-top: 36px;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 64px;

    &__title {
      margin-bottom: 42px;
      font-size: 48px;
    }

    &__wrap {
      flex-direction: column;
      gap: 24px;

      &::before,
      &::after {
        display: none;
      }
    }

    &__images {
      width: 100%;
      overflow: visible;
      padding-left: 0;
      height: auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
      max-height: none;

      &::before {
        display: none;
      }
    }

    &__swiper-mask {
      mask-image: none;
      height: auto;
      width: 100%; 

      .swiper-pagination {
        opacity: 1;
        pointer-events: all;
        position: static;
        height: auto!important;
        transform: none!important;

        &-bullet {
          width: 12px;
          height: 12px;
          min-width: 12px;
          min-height: 12px;
          margin: 0 6px!important;
          display: inline-block!important;

          &-active {
            transform: scale(1);
            opacity: 1;  

            &-next {

              &-next {
                transform: scale(0.6666666);
                opacity: 0.1;
              }
            }

            &-prev {

              &-prev {
                transform: scale(0.6666666);
                opacity: 0.1;
              }
            }
          }
        }
      }
    }

    &__image {
      max-height: 600px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:not(.swiper-slide-active) {
        transform: scale(1);
        opacity: .2;
      }
    }

    &__content {
      width: 100%;
      max-width: 100%;
    }

    &-slide {
      text-align: center;

      &__number {
        display: none;
      }

      &__title {
        font-size: 36px;
        letter-spacing: 1px;
        margin-bottom: 24px;
        text-align: center;
      }

      &__desc {
        font-size: 16px;
        line-height: 20px;
      }

      &__date {
        flex-direction: column;
        gap: 12px;
        font-size: 26px;
        line-height: 100%;
        letter-spacing: 1px;
        margin-bottom: 32px;

        &-before {
          color: #949494;

          &::before {
            transform: translateY(-50%) rotate(-12deg);
          }

          &::after {
            display: none;
          }
        }
      }

      &__end {
        padding-top: 22px;
        margin-top: 22px;

        &::before {
          opacity: .3;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
        }
      }

      &__subtitle {
        font-size: 26px;
        line-height: 42px;
        letter-spacing: 1px;
        margin-bottom: 12px;
      }

      &__btns {
        flex-direction: column;
        gap: 12px;
        margin-top: 22px;
      }
    }

    &-btn {
      height: 54px;
      font-size: 20px;
    }

    .desktop-pagination {
      display: none;
    }
  }
}

.quote {
  padding-top: 322px;
  color: #FDFDED;
  padding-left: 90px;
  padding-right: 90px;
  overflow: hidden;

  &__wrap {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 80px 0;

    &::before {
      content: "";
      width: 1688px;
      height: 2px;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      opacity: .3;
    }

    &::after {
      content: "";
      width: 1688px;
      height: 2px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      opacity: .3;
    }
  }

  &__text {
    font-family: "Druk Cyr";
    font-weight: 500;
    font-size: 52px;
    line-height: 60px;
    letter-spacing: 1.6px;
    text-align: center;
    text-transform: uppercase;
    max-width: 1180px;
    position: relative;

    &::before {
      content: "";
      width: 92px;
      height: 84px;
      background: url(../img/quote.svg) no-repeat center;
      position: absolute;
      left: -69px;
      top: -54px;
    }

    &::after {
      content: "";
      width: 92px;
      height: 84px;
      background: url(../img/quote.svg) no-repeat center;
      position: absolute;
      bottom: -54px;
      right: -18px;
      transform: rotate(180deg);
    }

    strong {
      color: #E12F27;
    }

    span {
      color: #949494;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 64px;
    padding-left: 24px;
    padding-right: 24px;

    &__wrap {
      padding: 20px 0;

      &::before,
      &::after {
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
        width: 100%;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 22px;
      line-height: 122%;

      &::before,
      &::after {
        position: static;
        width: 52px;
        height: 47px;
        background-size: cover;
      }

      &::after {
        margin-left: auto;
      }
    }
  }
}

.version {
  position: relative;
  padding-top: 150px;
  padding-bottom: 270px;
  margin-top: 146px;
  padding-left: 100px;
  overflow: hidden;
  padding-right: 100px;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/grid.webp) no-repeat center / cover;
    left: 0;
    top: 200px;
    pointer-events: none;
  }

  &__title {
    font-family: "Druk Cyr";
    text-align: center;
    font-weight: 500;
    font-size: 112px;
    line-height: 100%;
    margin-bottom: 116px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    z-index: 1;
  }

  &-line {
    &__top {
      position: absolute;
      left: -209px;
      top: -66px;

      &::before {
        content: "";
        height: 2px;
        width: 1688px;
        opacity: .3;
        position: absolute;
        left: -134px;
        top: 0;
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, #FFFFFF 100%);
      }

      &::after {
        content: "";
        height: 1475px;
        width: 2px;
        opacity: .3;
        position: absolute;
        top: -167px;
        left: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, #FFFFFF 100%);
      }
    }

    &__bot {
      position: absolute;
      right: -208px;
      bottom: -70px;
      transform: rotate(180deg);

      &::before {
        content: "";
        height: 2px;
        width: 1688px;
        opacity: .3;
        position: absolute;
        left: -134px;
        top: 0;
        background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, #FFFFFF 100%);
      }

      &::after {
        content: "";
        height: 1475px;
        width: 2px;
        opacity: .3;
        position: absolute;
        top: -167px;
        left: 0;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, #FFFFFF 100%);
      }
    }
  }

  &__wrap {
    display: flex;
    position: relative;
    height: 893px;
    width: 100%;
    max-width: 1233px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 3;

    &::before {
      content: "";
      width: 266px;
      height: 499px;
      background: url(../img/version-arrow.svg) no-repeat center;
      position: absolute;
      left: -87px;
      top: 286px;
    }

    &::after {
      content: "";
      width: 313px;
      height: 236px;
      background: url(../img/version-arrow2.svg) no-repeat center;
      position: absolute;
      bottom: 70px;
      right: -80px;
    }
  }

  &-card {
    position: absolute;
    width: 322px;
    height: 453px;
    cursor: pointer;
    // perspective: 1000px; /* Essential for 3D transforms */
    // transition: transform 0.1s ease-out;

    &:first-child {
      top: 67px;
      left: 81px;
      z-index: 3;
    }

    &:nth-child(2) {
      top: 0;
      left: 497px;
      // transform: rotate(-2deg);
      rotate: -2deg;
    }

    &:nth-child(3) {
      right: 0;
      top: 72px;
      z-index: 3;
      // transform: rotate(6deg);
      rotate: 6deg;
    }

    &:nth-child(4) {
      bottom: 0;
      left: 238px;
      // transform: rotate(2.6deg);
      rotate: 2.6deg;
    }

    &:nth-child(5) {
      bottom: 0;
      right: 250px;
      // transform: rotate(-3deg);
      rotate: -3deg;
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.32s;
      transform-style: preserve-3d;
    }

    &__front,
    &__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__back {
      transform: rotateY(180deg);
    }

    &__top {
      width: 100%;
      height: 50%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 2;
      display: none;

      &:hover {
        height: 100%;
        z-index: 3;

        & ~ .version-card__inner {
          transform: skew(-6deg) scaleX(1.01);
        }
      }
    }

    &__bot {
      width: 100%;
      height: 50%;
      left: 0;
      bottom: 0;
      position: absolute;
      z-index: 2;
      display: none;

      &:hover {
        height: 100%;
        z-index: 3;

        & ~ .version-card__inner {
          transform: skew(6deg) scaleX(1.01);
        }
      }
    }

    &.active {
      .version-card__inner {
        transform: rotateY(180deg);
      }
    }
  }

  @media screen and (max-width: 1450px) {
    &-card {
      width: 280px;
      height: 395px;
    }

    &-line {
      display: none;
    }
  }

  @media screen and (max-width: 1300px) {
    padding-left: 30px;
    padding-right: 30px;

    &__wrap {
      &::before {
        background-size: cover;
        width: 170px;
        height: 340px;
        left: -15px;
        top: 250px;
      }

      &::after {
        display: none;
      }
    }

    &-card {
      &:nth-child(2) {
        left: calc(50% - 120px);
      }

      &:nth-child(3) {
        right: 40px;
      }

      &:nth-child(4) {
        left: 140px;
      }

      &:nth-child(5) {
        right: 110px;
      }
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 64px;
    margin-top: 64px;
    padding-bottom: 64px;

    &::after {
      opacity: .52;
    }
    
    &__title {
      margin-bottom: 42px;
      font-size: 48px;
    }

    &__wrap {
      height: 965px;
      width: 360px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      margin-right: 0;

      &::before {
        width: 180px;
        height: 127px;
        right: 25px;
        top: 13px;
        left: auto;
        top: auto;
        background-image: url(../img/version-arrow3.svg);
      }
    }

    &-card {
      width: 188px;
      height: 265px;

      &__top,
      &__bottom {
        display: none;
      }

      &:nth-child(1) {
        top: 80px;
        left: 0;
        transform: rotate(-9deg);
      }

      &:nth-child(2) {
        top: 143px;
        left: auto;
        right: 0;
        transform: rotate(6deg);
        z-index: 3;
      }

      &:nth-child(3) {
        top: 360px;
        right: auto;
        left: 0;
        transform: rotate(-3deg);
        z-index: 4;
      }

      &:nth-child(4) {
        top: 430px;
        left: auto;
        right: 0;
        transform: rotate(2deg);
        z-index: 5;
      }

      &:nth-child(5) {
        right: 50%;
        top: 661px;
        transform: rotate(-3deg) translateX(50%);
        z-index: 6;
      }
    }
  }
}

.way {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  padding-top: 72px;
  padding-bottom: 200px;
  margin: 0;
  z-index: 3;
  padding-left: 0;
  padding-right: 0;

  &::after {
    content: "";
    width: 100%;
    height: 407px;
    background: linear-gradient(180deg, #FFFFFF -38.07%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    opacity: .1;
  }

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &-back {
      position: absolute;
      z-index: 3;
      left: 0;
      width: 100%;
      top: -14.2vw;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    position: relative;
    z-index: 4;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 64px;

    &::before {
      content: "";
      width: 100%;
      position: absolute;
      height: 2px;
      left: 0;
      top: 0;
      opacity: .3;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, #FFFFFF 100%);
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 761px;
    margin-bottom: 64px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__title {
    font-family: "Druk Cyr";
    text-align: center;
    font-weight: 500;
    font-size: 112px;
    line-height: 100%;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    z-index: 4;
  }

  &__subtitle {
    font-family: "Druk Cyr";
    font-weight: 1000;
    font-style: italic;
    font-size: 62px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 4;

    span {
      color: #E12F27;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-name {
      font-family: "Druk Cyr";
      font-weight: 900;
      font-size: 72px;
      line-height: 100%;
      text-transform: uppercase;
      max-width: calc(100% - 940px);
      text-align: center;
      cursor: pointer;
    }

    &-info {
      position: absolute;
      top: 8px;
      right: 0;
      padding-left: 16px;
      border-left: 6px solid #721E1A;
      color: #949494;
      font-size: 20px;
      line-height: 28px;
      max-width: 460px;
      opacity: 0;
      transition: all .4s ease;
    }

    &.current {
      opacity: 1;

      .way__item-info {
        opacity: 1!important;
      }
    }

    &.hide {
      .way__item-info {
        opacity: 0!important;
      }
    }
  }

  @media screen and (max-width: 1650px) {
    &__item {
      &-name {
        max-width: calc(100% - 620px);
      }

      &-info {
        max-width: 300px;
      }
    }
  }

  @media screen and (max-width: 1280px) {

    &__item {
      &-name {
        max-width: 100%;
      }

      &-info {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 52px;

    &__bg {

      &-back {
        display: none;
      }
    }

    &__head {
      align-items: center;
      margin-bottom: 32px;
    }

    &__title {
      font-size: 48px;
      letter-spacing: 1px;
      max-width: 312px;
    }

    &__subtitle {
      font-size: 36px;
      line-height: 42px;
    }

    &__list {
      padding-top: 32px;
      padding-left: 24px;
      padding-right: 24px;
      gap: 24px;
    }

    &__item {
      &-name {
        font-size: 30px;
      }
    }
  }
}

.socials_vanila {
  gap: 22px!important;

  .socials-item {
    margin-top: 0!important;
  }
}

.contacts_vanila {
  overflow: visible;
  padding-top: 320px;

  .contacts-bg {
    max-width: 1920px;
    max-height: 1448px;
    width: 100%;
    height: auto;
    bottom: -200px;
    top: auto;
    pointer-events: none;
    display: flex;

    img {
      max-height: 1448px;
    }
  }

  &::after {
    display: none;
  }

  @media screen and (max-width: 1100px) {
    padding-top: 100px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 82px;
    margin-top: 0;

    .contacts-bg {
      bottom: -434px;

      img {
        object-fit: cover;
        object-position: top center;
      }
    }
  }
}

.faq-vanila {
  padding-left: 24px;
  padding: 24px;
  color: #FDFDED;
  padding-top: 200px;
  position: relative;
  overflow: visible;

  &::before {
    content: "";
    width: 2956px;
    height: 1472px;
    position: absolute;
    max-width: 100%;
    background: url(../img/audio-lines.svg) no-repeat center;
    right: 0;
    top: -468px;
    pointer-events: none;
  }

  &__wrap {
    display: flex;
    align-items: flex-start;
    max-width: 1600px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
  }

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 700px;
  }

  &__right {
    max-width: 692px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__title {
    font-family: "Druk Cyr";
    text-align: center;
    font-weight: 500;
    font-size: 112px;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    z-index: 4;
    text-align: left;
  }

  &__subtitle {
    font-family: "Druk Cyr";
    font-weight: 1000;
    font-style: italic;
    font-size: 62px;
    letter-spacing: 2px;
    text-transform: uppercase;

    span {
      color: #E12F27;
    }
  }

  &__name {
    font-family: "Druk Cyr";
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 6px;
  }

  &__cap {
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
    color: #949494;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  &__title2 {
    font-family: "Druk Cyr";
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__timecodes {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__timecode {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;

    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 1px;
      text-decoration: underline;
      color: #E12F27;
      width: 64px;
    }

    span {
      color: #949494;
      font-size: 20px;
      line-height: 100%;
    }
  }

  @media screen and (max-width: 1500px) {
    &::before {
      display: none;
    }

    &__right {
      max-width: 500px;
    }
  }

  @media screen and (max-width: 1100px) {
    padding-top: 100px;

    &__wrap {
      flex-direction: column;
      gap: 64px;
    }

    &__right {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    &__title {
      font-size: 48px;
      text-align: center;
    }

    &__subtitle {
      font-size: 36px;
      line-height: 42px;
      text-align: center;
    }

    &__left {
      align-items: center;
      width: 100%;
      gap: 8px;
    }

    &__name {
      font-size: 26px;
    }

    &__cap {
      font-size: 18px;
    }

    &__title2 {
      font-size: 48px;
    }

    &__timecodes {
      gap: 16px;
    }

    &__timecode {
      gap: 12px;
      align-items: flex-start;

      p {
        font-size: 18px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}

.audio-vanila {
  width: 100%;
  margin-bottom: 80px;

  @media screen and (max-width: 768px) {
    margin-bottom: 42px;
  }
}

.controls {
  width: 100%;

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
  }

  #progress-bar {
    width: calc(100% - 56px);
    appearance: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    background-image: linear-gradient(90deg, rgba(225, 47, 39, 0) -6.52%, #E12F27 39.16%, #E12F27 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;

    &::-webkit-slider-runnable-track {
      // opacity: .2;
      border-radius: 0px;
      height: 4px; 
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) -2.1%, rgba(255, 255, 255, 0.32) 47.61%, rgba(255, 255, 255, 0) 113.82%);
    }

    &::-webkit-slider-thumb {
      appearance: none;
      margin-top: -8px; 
      background-color: #E12F27; /* Color of the thumb */
      border-radius: 50%; /* Makes it circular */
      height: 19px; /* Size of the thumb */
      width: 19px; /* Size of the thumb */
    }
  }

  #current-time {
    position: absolute;
    left: -2px;
    top: -64px;
    width: 60px;
    text-align: center;
    color: #FDFDED;
    font-size: 18px;
    font-weight: 700;
    opacity: .8;

    &::before {
      content: "";
      width: 2px;
      height: 50px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.52%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: calc(50% - 1px);
      top: calc(100% + 10px);
    }
  }

  #duration {
    position: absolute;
    right: -2px;
    top: -64px;
    width: 60px;
    text-align: center;
    color: #FDFDED;
    font-size: 18px;
    font-weight: 700;
    opacity: .8;

    &::before {
      content: "";
      width: 2px;
      height: 50px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 49.52%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      left: calc(50% - 1px);
      top: calc(100% + 10px);
    }
  }
  

  &__bot {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .volume {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    &-icon {
      width: 38px;
      height: 38px;
      background: url(../img/volume.svg) no-repeat center / cover;
      // transition: all .4s ease;
      cursor: pointer;

      &.hide {
        background-image: url(../img/volume-full.svg);
      }
    }
  }

  #volume-bar {
    width: 92px;
    appearance: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    border-radius: 12px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.32) -14.92%, #FFFFFF 89.57%, #FFFFFF 228.73%);
    background-repeat: no-repeat;
    background-size: 50% 100%;

    &::-webkit-slider-runnable-track {
      // opacity: .2;
      border-radius: 12px;
      height: 4px; 
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) -14.92%, rgba(255, 255, 255, 0.32) 89.57%, rgba(255, 255, 255, 0.32) 228.73%);
    }

    &::-webkit-slider-thumb {
      appearance: none;
      margin-top: -5px; 
      background-color: #FDFDED; /* Color of the thumb */
      border-radius: 50%; /* Makes it circular */
      height: 14px; /* Size of the thumb */
      width: 14px; /* Size of the thumb */
    }
  }

  #play-pause-btn {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: transparent url(../img/audio-play.svg) no-repeat center / cover;
    cursor: pointer;
    border: none;
    outline: none;
    transition: box-shadow .1s ease;

    &.pause {
      background-image: url(../img/audio-pause.svg);
    }

    &:hover {
      box-shadow: 0px 0px 30px 0px #E12F2785;
    }

    &:active {
      opacity: .5;
    }
  }

  @media screen and (max-width: 768px) {

    &__top {
      margin-bottom: 40px;
    }

    #play-pause-btn {
      width: 42px!important;
      height: 42px!important;
    }

    #progress-bar {
      width: 100%;
    }

    #current-time {
      top: -37px;
      font-size: 12px;
      width: 35px;

      &::before {
        left: 0;
        top: 100%;
        height: 26px;
      }
    }

    #duration {
      top: -37px;
      font-size: 12px;
      width: 35px;

      &::before {
        right: 0;
        left: auto;
        top: 100%;
        height: 26px;
      }
    }

    .volume {
      left: -2px;
      display: none;
    }

    .volume-icon {
      width: 28px!important;
      height: 28px!important;
    }

    #volume-bar {
      width: 62px;
    }
  }
}

.footer {
  position: relative;
  z-index: 2;
}

.vanila-video {
  position: relative;
  color: #FDFDED;
  z-index: 4;
  padding-bottom: 200px;

  &__file {
    width: 100%;
  }

  &__title {
    font-family: "Druk Cyr";
    font-weight: 500;
    font-size: 112px;
    line-height: 100%;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 52px;
  }

  &__wrap {
    position: absolute;
    left: 158px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2 ;
  }

  @media screen and (max-width: 1400px) {
    padding-bottom: 0;
  }

  @media screen and (max-width: 768px) {

    &__file {
      min-height: 700px;
      object-fit: cover;
    }

    &__wrap {
      width: 100%;
      max-width: 260px;
      align-items: center;
      text-align: center;
      left: 50%;
      top: 62px;
      transform: translateX(-50%);
    }

    &__title {
      font-size: 48px;
      margin-bottom: 24px;
    }
  }
}